html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea url('bg.png');
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#head {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 130px 0 40px 0;
	border: 1px solid #ccc;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#head:before {
	content: '';
	width: 2px;
	position: absolute;
	top: 0;
	left: 40px;
	height: 100%;
	z-index: 3;
}

#head h1 {
	position: absolute;
	top: -120px;
	width: 100%;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.15);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#head h2 {
	position: absolute;
	top: -30px;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.15);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.reg_link {
	background-color: rgba(101, 84, 76, 0.8);
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}

.reg_link a {
	color: white;
}

#header {
	padding-top: 15px;
	border-radius: inherit;
}

#header:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 15px;
	z-index: 2;
	border-bottom: 0;
	background: #8d7d77;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
	background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

#header img{
	top: -100px;
	padding-top: 15px;
	position: absolute;
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px dotted #adadad;
}

#list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px dashed #D1DFE9;
	text-align: center;
	color: #C7D6EE;
	text-shadow: 2px 2px #1D221D;
	padding: 15px;
}

#list li:last-child {
	border-bottom: none;
}

#list li label {
	word-break: break-word;
	padding: 15px;
	display: block;
	line-height: 1.2;

}

#grass {
	background-image: url('grass.png');	
}

#dirt {
	background-image: url('dirt.png');	
}

#stone {
	background-image: url('stone.png');	
}

#iron {
	background-image: url('iron.png');	
}

#gold {
	background-image: url('gold.png');	
}

#diamond {
	background-image: url('diamond.png');	
}

#lava {
	background-image: url('lava.png');	
}

#list a:link{
	color: #994343;
	text-decoration: none;
}

#list a:visited{
	color: #994343;
	text-decoration: none;
}

#footer {
	color: #777;
	padding: 0 15px;
	position: absolute;
	right: 0;
	bottom: -31px;
	left: 0;
	height: 20px;
	z-index: 1;
	text-align: center;
}

#footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 31px;
	left: 0;
	height: 50px;
	z-index: -1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
				0 6px 0 -3px rgba(255, 255, 255, 0.8),
				0 7px 1px -3px rgba(0, 0, 0, 0.3),
				0 43px 0 -6px rgba(255, 255, 255, 0.8),
				0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

#info {
	margin: 65px auto 0;
	color: #a6a6a6;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
}

#info a {
	color: #D39191;
}

.profit
{
	color: #49941D;
}
